node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Kubernetes
# =========================
*.kubeconfig
kubeconfig
kubeconfig.yaml

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log